*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpath

#temp file
*.log
*.diff
*.tmp
*.cache

#system ignore
.DS_Store
Thumbs.db